<section class="products-section">
  <div class="container products-container">
    <h2>Our <span>products</span></h2>
    <ul class="list products-grid products-slider">
      <li class="products-card">
        <img src="./img/img-product-1.jpg" width="230" height="201" />
        <h3 class="products-name">orange</h3>
        <p class="products-description">Dark chocolate</p>
        <button class="products-btn">45 UAH</button>
      </li>
      <li class="products-card">
        <img src="./img/img-product-2.jpg" width="230" height="201" />
        <h3 class="products-name">APPLE&CRANBERRY</h3>
        <p class="products-description">Milk chocolate</p>
        <button class="products-btn">50 UAH</button>
      </li>
      <li class="products-card">
        <img src="./img/img-product-3.jpg" width="230" height="201" />
        <h3 class="products-name">lime&sea salt</h3>
        <p class="products-description">Dark chocolate</p>
        <button class="products-btn">66 UAH</button>
      </li>
      <li class="products-card">
        <img src="./img/img-product-4.jpg" width="230" height="201" />
        <h3 class="products-name">pineapple</h3>
        <p class="products-description">Dark chocolate</p>
        <button class="products-btn">54 UAH</button>
      </li>
      <li class="products-card">
        <img src="./img/img-product-5.jpg" width="230" height="201" />
        <h3 class="products-name">Classic</h3>
        <p class="products-description">Milk chocolate</p>
        <button class="products-btn">45 UAH</button>
      </li>
      <li class="products-card">
        <img src="./img/img-product-6.jpg" width="230" height="201" />
        <h3 class="products-name">honey</h3>
        <p class="products-description">Milk chocolate</p>
        <button class="products-btn">50 UAH</button>
      </li>
      <li class="products-card">
        <img src="./img/img-product-7.jpg" width="230" height="201" />
        <h3 class="products-name">Roasted fruits</h3>
        <p class="products-description">Dark chocolate</p>
        <button class="products-btn">66 UAH</button>
      </li>
      <li class="products-card">
        <img src="./img/img-product-8.jpg" width="230" height="201" />
        <h3 class="products-name">Classic</h3>
        <p class="products-description">White chocolate</p>
        <button class="products-btn">54 UAH</button>
      </li>
    </ul>
  </div>
</section>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript" src="./js/slick.min.js"></script>
<script src="./js/click.js"></script>