body {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.5;
}


h1,
h2,
h3,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}


.list {
    list-style-type: none;
}

.link {
    color: currentcolor;
    text-decoration: none;
}

.section {}



.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.products-grid {
    width: 100%;
}

.products-title{
    font-size: 20px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 32px;
}

.products-title span{
    color: #FD9222;
}

.products-card{
    background: #FFFFFF;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    padding: 32px 52px;
    text-align: center;
    margin-bottom: 20px;
}

.products-card img{
    margin-bottom: 8px;
}

.products-name{
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111111;
    margin-bottom: 2px;
}

.products-description{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
    margin-bottom: 18px;
}

.products-btn{
    width: 94px;
    height: 33px;
    background: #FAFAFA;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    color: #111111;
}
/* Слайдер */
.slick-slider {}

/* Слайдер запущен */
.slick-slider.slick-initialized {}

/* Слайдер с точками */
.slick-slider.slick-dotted {}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    gap: 20px;
}

/* Слайд */
.slick-slide {
}

/* Слайд активный (показывается) */
.slick-slide.slick-active {
}

/* Слайд основной */
.slick-slide.slick-current {
}

/* Слайд по центру */
.slick-slide.slick-center {}

/* Клонированный слайд */
.slick-slide.slick-cloned {}

/* Стрелка */
.slick-arrow {}

/* Стрелка влево */
.slick-arrow.slick-prev {}

/* Стрелка вправо */
.slick-arrow.slick-next {}

/* Стрелка не активная */
.slick-arrow.slick-disabled {}

/* Точки (булиты) */
.slick-dots {}

.slick-dots li {}

/* Активная точка */
.slick-dots li.slick-active {}

/* Элемент точки */
.slick-dots li button {}



.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
}

/* Точки (булиты) */
.slick-dots {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 210px;
    margin: 0 auto;

}

.slick-dots li {
    list-style: none;
    /* margin: 0 13px; */
}

/* Активная точка */
.slick-dots li.slick-active button{
    width: 28px;
    height: 13px;
    background: #FD9222;
    border-radius: 40%;
}

/* Элемент точки */
.slick-dots li button {
    width: 13px;
    height: 13px;
    background: rgba(17, 17, 17, 0.1);
    border-radius: 50%;
    border: none;
    font-size: 0;
    cursor: pointer;
}




/* @media screen and (min-width: 375px) {
    .container {
        width: 365px;
        margin: 0 auto;
    }



    .products-grid {
        width: 100%;
    }

    .products-card {
        width: 335px;
        min-height: 364px;

    } 

} */

@media screen and (min-width: 375px) {
    .container {
        width: 365px;
    }



    .products-grid {
        width: 100%;
    }

    .products-card {
        width: 335px;
        min-height: 364px;
    }

}


@media screen and (min-width: 768px){
    .container {
        width: 734px
    }

    .products-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
    }

    .products-grid {
    
    }

    .products-card {
        width: 270px;
        height: 364px;
        padding: 32px 20px;
        margin-bottom: 32px;
    }
    
    .slick-track {
        gap: 18px 18px;
    }
}


@media screen and (min-width: 1200px) {
    .container {
        width: 1166px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .products-grid{
        display: flex;
        flex-wrap: wrap;
        gap: 18px 18px;
    }
    .products-card{
        margin: 0;
    }

    /* .slick-track{
        flex-wrap: wrap;
    } */
}
/* 375px;
- tablet: 768px;
- desktop: 1200px */ */